---
subtitle: No homepage, yet.
date: 2018-08-22 12:24:50
layout: layouts/base.njk
templateEngineOverride: njk, md
---
<section class="vf-intro | embl-grid embl-grid--has-centered-content">
    <div>
        <!-- empty -->
    </div>
    <div>
        <h1 class="vf-intro__heading vf-intro__heading--has-tag">Working at EMBL <a href="JavaScript:Void(0);" class="vf-badge vf-badge--primary vf-badge--phases">beta</a></h1>
        <p class="vf-lede">We offer attractive conditions and benefits to attract and retain the brightest talent</p>
        <p class="vf-intro__text">Work at EMBL and you’ll join a community of world-class researchers and skilled professionals working together to uncover the secrets of life.</p>
    </div>
</section>
<section class="embl-grid embl-grid--has-centered-content">
    <div>
        <!-- empty -->
    </div>
    <div>
    Short jobs list HERE
    </div>
</section>
<section class="embl-grid embl-grid--has-centered-content">
    <div>
        <!-- empty -->
    </div>
    <div>
    Meet the team HERE
    </div>
</section>
   <div class="vf-grid | vf-grid__col-4">
      <div class="vf-card vf-card--navigation">
    <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
        <h3 class="vf-card__title">
            Remuneration
        </h3>
        <p class="vf-card__text">
            EMBL has adapted a fair and consistent remuneration system within specific compensation arrangements including salary and various allowances.
        </p>
    </div>
</div>
<div class="vf-card vf-card--navigation">
    <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
        <h3 class="vf-card__title">
            Social security
        </h3>
        <p class="vf-card__text">
            EMBL provides comprehensive social security benefits to all staff members, including health insurance, pension, invalidity, accident at work, long term care, death benefit and unemployment insurances.
        </p>
    </div>
</div>
<div class="vf-card vf-card--navigation">
    <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
        <h3 class="vf-card__title">
            Working hours and leave
        </h3>
        <p class="vf-card__text">
            The regular working week at EMBL is a 5-day week, with 39 working hours, excluding breaks. EMBL also offers part-time positions and flexible working time as well as a generous annual leave allowance.
        </p>
    </div>
</div>
<div class="vf-card vf-card--navigation">
    <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
        <h3 class="vf-card__title">
            Family life
        </h3>
        <p class="vf-card__text">
            EMBL welcomes families from all over the world and supports them financially as well as through childcare services.
        </p>
    </div>
</div>
    </div>
    <div class="vf-grid | vf-grid__col-4">
      <div class="vf-card vf-card--navigation">
    <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
        <h3 class="vf-card__title">
            Remuneration
        </h3>
        <p class="vf-card__text">
            EMBL has adapted a fair and consistent remuneration system within specific compensation arrangements including salary and various allowances.
        </p>
    </div>
</div>
<div class="vf-card vf-card--navigation">
    <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
        <h3 class="vf-card__title">
            Social security
        </h3>
        <p class="vf-card__text">
            EMBL provides comprehensive social security benefits to all staff members, including health insurance, pension, invalidity, accident at work, long term care, death benefit and unemployment insurances.
        </p>
    </div>
</div>
<div class="vf-card vf-card--navigation">
    <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
        <h3 class="vf-card__title">
            Working hours and leave
        </h3>
        <p class="vf-card__text">
            The regular working week at EMBL is a 5-day week, with 39 working hours, excluding breaks. EMBL also offers part-time positions and flexible working time as well as a generous annual leave allowance.
        </p>
    </div>
</div>
<div class="vf-card vf-card--navigation">
    <img src="../../assets/vf-card/assets/vf-card-example.png" alt="" class="vf-card__image">
    <div class="vf-card__content">
        <h3 class="vf-card__title">
            Family life
        </h3>
        <p class="vf-card__text">
            EMBL welcomes families from all over the world and supports them financially as well as through childcare services.
        </p>
    </div>
</div>
    </div>
    <hr class="divider">
<section class="vf-content embl-grid embl-grid--has-centered-content">
    <div>
    </div>
    <div>
    <h1 class="vf-text vf-text-heading--3">How to apply for a job at EMBL</h1>
    <p>We offer a wide range of challenging scientific and non-scientific positions at all of our European locations and encourage applications from international candidates at every career level.
    </p>
    <h1 class="vf-content vf-text vf-text-heading--4">Find the right opportunity</h1>
    <p>If you are interested in joining EMBL please check our current vacancies. Each job notice includes details of the role and responsibilities, who we’re looking for, the closing date and contract duration.
    </p>
    <h1 class="vf-content vf-text vf-text-heading--4">Search, alerts and applications</h1>
    <p>Please apply online via EMBL’s e-recruitment portal, following the instructions given. You can use the portal to search and apply for positions, register for job alerts, and login to update and check the status of your application.
    </p>
    <h1 class="vf-content vf-text vf-text-heading--4">Selection and interview</h1>
    <p>We evaluate all applications received. Candidates selected for interview are generally advised within two to four weeks of the closing date. EMBL covers economy-class travel expenses for all interviewees.
    </p>
    </div>
</section>
<section class="vf-intro | embl-grid embl-grid--has-centered-content">
    <div>
        <!-- empty -->
    </div>
    <div>
    Contact us HERE
    </div>
</section>
    